html, body {
	height: 100%;
}
.desktop {
    background-image: url("../img/desk.jpg");
}
.cv {
    background-image: url("../img/cv.jpeg");
}
.hobbies {
    background-image: url("../img/hobbies.jpg");
}

.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
}
