html, body {
	height: 100%;
}
#desktop {
    /*background-image: url("../img/sainteVictoire.jpg");*/
    background-color: #aefced;
}
#cv {
    /*background-image: url("../img/cv.jpeg");*/
    background-color: #468499;
}
#labs {
    /*background-image: url("../img/cv.jpeg");*/
    background-color: #9fe1a2;
}
#hobbies {
    background-image: url("../img/hobbies.jpg");
}

.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
}
